.env
logs/app.log
credentials.json
token.json

# Ignore user logs and Cython logs
logs/
*.log
*.log.*
*.c
*.so
*.pyc
*.pyo
*.pyd
*.pyx
*.pxd
*.pxi
*.cpython-312
*.cpython-311
*.cpython-310
*.cpython-39
zprompts/